/* Post Title */
.post-title{
    text-align: center;
    padding-top: 30px;
    color: rgb(128, 72, 72);
    font-family: "Berkshire Swash", cursive;
}

/* Author Section */
.author-section{
    display: flex;
    width: 100%;
}
.author-image-container{
    width: 200px;
}
.author-image{
    width: 100%;
}
.author-info-container{
    width: 250px;
}
.author-info{
    font-size: 0.8em;
    margin: 10px 0 0 10px;
}

/* Blog Post image container */



/* Post Section */
.post-section{
    width: 90vw;
    margin: auto;
    /* display: grid;
    grid-template-columns: repeat(5/1fr);
    grid-template-areas: 
        "article article article aside aside"; */
    
}
.post-container{
    grid-area: article;
    text-align: justify;
    padding-right: 15px;
    margin-top: 10px;
}
.aside-container{
    grid-area: aside;
    width: 80vw;
    margin: auto;
}


/* For medium sized screens */
@media(min-width: 600px) and (max-width: 900px){
    /* .author-image-container{
        width: 50vw;
    }
    .author-info-container{
        width: 80vw;
    } */
    /* .author-info{
        font-size: 1em;
    } */
}

/* For Large Screens */
@media(min-width: 900px){
    .author-image-container{
        /* height: 100%; */
        /* width: 22vw; */
    }
    .author-info-container{
        /* height: 100%; */
        width: 70vw;
    }
    .author-info{
        font-size: 1em;
    }
    /* .author-image{
        width: 100%;
        padding: 0;
        border-radius: 0;
    } */
    /* .blog-post-image-container{
        height: 400px;
    } */
    .post-section{
        display: flex;
        justify-content: space-around;
    }
    .post-container{
        width: 60vw;
    }
    .aside-container{
        width: 30vw;
    }
}