/* Blog card section */
.blog-card-section{
    display: grid;
    /* grid-template: repeat(2,1fr)/repeat(2,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(40%,1fr));
    grid-gap: 10px;
    text-align: center;
    width: 95vw;
    margin: auto;
    margin-top: 15px;
    
}
.blog-card-container{
    border: 1px solid orange;
}
.blog-card-container:hover{
    box-shadow: 4px 4px 15px 10px rgba(221, 152, 152, 0.246);
}
.blog-card-image{
    width: 100%;
}
.blog-card-button{
    border: none;
    outline: none;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: orangered;
    color: white;
    transition: transform 600ms;
    text-decoration: none;
}
.blog-card-button:hover{
    background-color: white;
    border: 1px solid orangered;
    color: orangered;
    transform: scale(1.1);
}
.blog-button-link{
    text-decoration: none;
    color: white;
    background-color: orangered;
}
.blog-card-text{
    font-size: 0.8em;
}