body{
    margin: 0;
    padding: 0;
}
.header-section{
    background-color: rgb(5, 58, 58);
    margin-top: -21px;
}
.heading{
    text-align: center;
    color: white;
    padding-top: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
li{
    display: inline;
}