body{
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
}

/* header section*/
.header-section{
    background-color: white;
    margin-top: -21px;
    border-bottom: 1px solid coral;
}
.heading{
    text-align: center;
    color: coral;
    padding-top: 20px;
    font-family: 'Cookie', cursive
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}
.searchbar{
    margin-left: 5px;
    height: 25px;
    margin-top: 12px;
    border: 1px solid rgb(255, 96, 38);
    outline: none;
    border-radius: 2px;
    width: 170px;
    transition: transform 600ms;
}
.searchbar:focus{
    box-shadow: 4px 4px 15px 0.4px rgb(230, 226, 225);
    transform: scale(1.1);
}
.navbar input::placeholder{
    font-style: italic;
    font-size: 0.8em;
    padding: 0 0 0 5px;
}
li{
    display: inline;
    margin-right: 10px;
    color: rgb(240, 137, 100);
}
.social-icon-container{
    margin: auto;
}
.social-icon-container img{
    max-width: 30px;
    margin: 10px;
}

/* Header image section */
.header-image-section{
    height: 300px;
    background-image: url(/images/semi-opened-laptop-computer-turned-on-on-table-2047905.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

/* Blog card section */
.blog-card-section{
    display: grid;
    /* grid-template: repeat(2,1fr)/repeat(2,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(40%,1fr));
    grid-gap: 10px;
    text-align: center;
    width: 95vw;
    margin: auto;
    margin-top: 15px;
    
}
.blog-card-container{
    border: 1px solid orange;
}
.blog-card-container:hover{
    box-shadow: 4px 4px 15px 10px rgba(221, 152, 152, 0.246);
}
.blog-card-image{
    width: 100%;
}
.blog-card-button{
    border: none;
    outline: none;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: orangered;
    color: white;
    transition: transform 600ms;
}
.blog-card-button:hover{
    background-color: white;
    border: 1px solid orangered;
    color: orangered;
    transform: scale(1.1);
}
.blog-card-text{
    font-size: 0.8em;
}


/* Subscription form section */
.subscription-form-section{
    display: flex;
    /* grid-template: repeat(2/1fr)/repeat(2/1fr); */
    justify-content: space-evenly;
    margin: auto;
    padding: 15px;
}
.subscription-form-container{
    padding: 10px;
}
.subscription-heading{
    margin-top: 50px;
}
.subscribe-form-input{
    margin: 5px;
    padding: 5px;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid orangered;
    transition: transform 600ms;
}
.subscribe-form-input::placeholder{
    color: rgba(128, 128, 128, 0.65);
}
.subscribe-form-input:focus{
    border-bottom: 2px solid orangered;
    transform: scale(1.03);
}
.subscribe-button{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: white;
    border: 1px solid orangered;
    color: orange;
    transition: transform 600ms;
}
.subscribe-button:hover{
    background-color: orangered;
    color: white;
    transform: scale(1.03);
}


/* footer Section */
.footer-section{
    text-align: center;
    background-color: orangered;
    padding: 1px;
}
.footer-text{
    color: white;
}

/* styles for medium sized screens */
@media(min-width:600px) and (max-width:900px){
    .navbar{
        width: 90vw;
        margin: auto;
    }
    /* .searchbar{
        width: 170px;
    } */
    .blog-card-text{
        font-size: 1em;
    }
    .subscription-form-section{
        justify-content: space-around;
    }
    .subscribe-form-input{
        width: 300px;
    }
}

/* styles for large screens */
@media(min-width:900px){
    .social-icon-container{
        margin: 0;
    }
    /* .searchbar{
        width: 170px;
    } */
    .header-image-section{
        height: 450px;
        background-position: top;
    }
    .blog-card-section{
        grid-template-columns: repeat(auto-fit,minmax(20%,1fr));
    }
    .blog-card-text{
        font-size: 1em;
    }
    .subscription-form-section{
        justify-content: space-around;
    }
    .subscribe-form-input{
        width: 500px;
    }
}