@import url(../../css/main/card.css);
@import url(../../css/main/form.css);


body{
    margin: 0;
    padding: 0;
    font-family: "Baloo Paaji 2", cursive;
}

/* header section*/
.header-section{
    background-color: white;
    margin-top: -21px;
    border-bottom: 1px solid coral;
}
.heading{
    text-align: center;
    color: coral;
    padding-top: 20px;
    font-family: "Cookie", cursive
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}
.searchbar{
    margin-left: 5px;
    height: 25px;
    margin-top: 12px;
    border: 1px solid rgb(255, 96, 38);
    outline: none;
    border-radius: 2px;
    width: 130px;
    transition: transform 600ms;
}
.searchbar:focus{
    box-shadow: 4px 4px 15px 0.4px rgb(230, 226, 225);
    transform: scale(1.1);
}
.navbar input::placeholder{
    font-style: italic;
    font-size: 0.8em;
    padding: 0 0 0 5px;
}
.nav-links{
    display: inline;
    margin-right: 10px;
    color: rgb(240, 137, 100);
}
.social-icon-container{
    margin: auto;
}
.social-icon-container img{
    max-width: 30px;
    margin: 10px;
}

/* Header image section */
.header-image-section,
.blog-post-image-container{
    height: 300px;
    background-image: url(../../images/semi-opened-laptop-computer-turned-on-on-table-2047905.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.figcaption{
    font-style: italic;
    color: grey;
}

/* footer Section */
.footer-section{
    text-align: center;
    background-color: orangered;
    padding: 1px;
}
.footer-text{
    color: white;
}



/* styles for medium sized screens */
@media(min-width:600px) and (max-width:900px){
    .navbar{
        width: 90vw;
        margin: auto;
    }
    .searchbar{
        width: 170px;
    }
    .blog-card-text{
        font-size: 1em;
    }
    .subscription-form-section{
        justify-content: space-around;
    }
    .subscribe-form-input{
        width: 300px;
    }
}

/* styles for large screens */
@media(min-width:900px){
    .social-icon-container{
        margin: 0;
    }
    .searchbar{
        width: 170px;
    }
    .header-image-section{
        height: 450px;
        background-position: top;
    }
    .blog-card-section{
        grid-template-columns: repeat(auto-fit,minmax(20%,1fr));
    }
    .blog-card-text{
        font-size: 1em;
    }
    .subscription-form-section{
        justify-content: space-around;
    }
    .subscribe-form-input{
        width: 500px;
    }
}